Client/bin/
Client/obj/Client.csproj.nuget.dgspec.json
Client/obj/Client.csproj.nuget.g.props
Client/obj/Client.csproj.nuget.g.targets
Client/obj/project.assets.json
Client/obj/project.nuget.cache
Client/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Client/obj/Debug/netcoreapp3.1/apphost.exe
Client/obj/Debug/netcoreapp3.1/Client.AssemblyInfo.cs
Client/obj/Debug/netcoreapp3.1/Client.AssemblyInfoInputs.cache
Client/obj/Debug/netcoreapp3.1/Client.assets.cache
Client/obj/Debug/netcoreapp3.1/Client.csproj.AssemblyReference.cache
Client/obj/Debug/netcoreapp3.1/Client.csproj.CoreCompileInputs.cache
Client/obj/Debug/netcoreapp3.1/Client.csproj.FileListAbsolute.txt
Client/obj/Debug/netcoreapp3.1/Client.dll
Client/obj/Debug/netcoreapp3.1/Client.genruntimeconfig.cache
Client/obj/Debug/netcoreapp3.1/Client.pdb
.vs/
Server/obj/
Server/bin/Debug/netcoreapp3.1/DataTransfer.deps.json
Server/bin/Debug/netcoreapp3.1/DataTransfer.dll
Server/bin/Debug/netcoreapp3.1/DataTransfer.exe
Server/bin/Debug/netcoreapp3.1/DataTransfer.pdb
Server/bin/Debug/netcoreapp3.1/DataTransfer.runtimeconfig.dev.json
Server/bin/Debug/netcoreapp3.1/DataTransfer.runtimeconfig.json
Server/bin/Debug/netcoreapp3.1/Server.deps.json
Server/bin/Debug/netcoreapp3.1/Server.dll
Server/bin/Debug/netcoreapp3.1/Server.exe
Server/bin/Debug/netcoreapp3.1/Server.pdb
Server/bin/Debug/netcoreapp3.1/Server.runtimeconfig.dev.json
Server/bin/Debug/netcoreapp3.1/Server.runtimeconfig.json
